/* Layout for login page */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* .info-titlegab {
  color: red;
  font-size: 48px;
} */


.info-gab p {
  text-align: center;
  
}

/* Login Container */
.login-container {
  border-radius: 19px;
  padding: 20px 30px;
  width: 350px;
  color: black;
  box-shadow: 0 4px 8px rgba(24, 23, 23, 0.2);
  text-align: center;
  margin-left: 30px; /* Space between info and form */
  background-color:#FFFFFF;
  ;
}

.login-container h2 {
  color: black; /* White text */
}

/* Form fields */
.form-group {
  margin-bottom: 15px;
}
.form-button{
  margin-bottom: 15px;
  color: rgb(42, 46, 46);
  
}
label {
  color: white; /* White text for labels */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background-color: #00ff00;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #d6f1d6;
}

/* Sign-up link */
.signup-link a {
  color: #00ff00; /* Bright green link */
  
}

.signup-link a:hover {
  text-decoration: underline;
}
