/* login.css */
/* General Styling */
.signup-body {
    /*background-image: url(../../images/Deliveroo-background.jpeg);*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensures the body takes up the full height of the viewport */
    margin: 0; /* Remove any default margin */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; 
    position: relative;
  }
  
  
  .signup-container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    align-items: center;
    
  }
  
  .signup-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
  }
  
  /* Form Styles */
  form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555;
  }
  
  form select,
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  form select:focus,
  form input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  /* Button Styles */
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #7bff00;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #51a800;
  }
  
  .submit-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
  }
  