/* General container styling */
.user-container {
  max-width: 90%;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
}

/* Headings */
h1 {
  font-size: 32px;
  color: #ff66b2;
  font-weight: bold;
}

p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

/* Signup button */
.button-container {
  margin: 20px 0;
}

.btn-profile {
  position: absolute;
  top: 10px;
  right: 50px;
  background-color: #ffee00;
  /*background-image: url(../images/scooter-icon.png);
  background-position: center;
  background-size: cover; */
  color: rgb(8, 8, 8);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-profile:hover {
  background-color: #78f800;
}



/* Icon container using CSS Grid */
.icon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  justify-items: center;
  padding: 20px 0;
}

/* Individual slots */
.icon-slot {
  width: 100%;
  max-width: 200px;
}

.slot {
  padding: 15px;
  width: 180px;
  height: 180px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.slot:hover {
  transform: scale(1.2);
  background-size: cover;
}


/* Responsive styles */
@media (max-width: 768px) {
  .icon-container {
    grid-template-columns: repeat(2, minmax(140px, 1fr)); /* Two columns */
  }
}

@media (max-width: 480px) {
  .icon-container {
    grid-template-columns: repeat(1, minmax(140px, 1fr)); /* One column */
  }

  h1 {
    font-size: 26px;
  }

  p {
    font-size: 16px;
  }

}
