/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left h1 {
  font-size: 24px;
  margin: 0;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-link:hover {
  background-color: #555;
}

.navbar-link.login {
  background-color: #d11470; /* Specific color for the Login link */
  border-radius: 5px;
  padding: 10px 15px;
}

.navbar-link.login:hover {
  background-color: #9e0d56; /* Darker shade for hover effect */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }
}
