 #root{
    background: linear-gradient(to bottom, #ffffff, #fc5ca7, #ff1275);
 }
 
 .delivery-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #cacaca, #797878);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff, #cacaca, #797878);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    background-color: #bdabab;
  }

  h1 {
    color:  rgb(255, 4, 121);
    margin-bottom: 20px;
  }

  .filter-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease;
  }

  .all-btn {
    background-color: #87ceeb;
  }

  .all-btn:hover {
    background-color: #4682b4;
  }

  .delivered-btn {
    background-color: #32cd32;
  }

  .delivered-btn:hover {
    background-color: #228b22;
  }

  .pending-btn {
    background-color: #ffcc00;
  }

  .pending-btn:hover {
    background-color: #e6b800;
  }

  .canceled-btn {
    background-color: #ff6347;
  }

  .canceled-btn:hover {
    background-color: #ff4500;
  }

  .order-list {
    flex-grow: 1;
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    padding: 10px;
  }

  .order-segment {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
    text-align: left;
  }

  .status {
    font-weight: bold;
  }

  .status.delivered {
    color: #32cd32;
  }

  .status.pending {
    color: #ffcc00;
  }

  .status.canceled {
    color: #ff0040;
  }

  a {
    color: #ff69b4;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
