.order-details-container {
    padding: 20px;
    max-width: 600px;
    min-height: 100vh;
    margin: 10px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .order-details-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-details-card h3 {
    margin-top: 0;
    font-size: 22px;
    color: #333;
  }
  
  .order-details-card p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
  }
  
  .order-details-card strong {
    font-weight: bold;
  }
  
  .cancel-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 40%;
  }
  .update-button {
    background-color: rgb(18, 112, 18);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 40%;
  
  }
  
  .cancel-button:hover {
    background-color: #c0392b;
  }
  
  .update-button:hover {
    background-color: rgb(12, 204, 12);
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .modal input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .cancel-button {
    background: red;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .confirm-button {
    background: green;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .update-button {
    background: green;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  