
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff007b; 
  overflow-y: auto;

  /* font-family: Arial, sans-serif; */
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Add this to your global CSS (App.css or index.css) */
html,
body {
  height: 100%; /* Ensures the body takes up the full height of the viewport */
  margin: 0; /* Remove any default margin */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  background-image: url('./images/Background-4.webp');
  background-color: #f0f0f0; /* Fallback color */
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  margin: 0; /* Removes default body margin */
  height: 100vh; /* Full screen height */
  width: 100%; /* Full width */
}









