.cancel-body {
    font-family: Arial, sans-serif;
    background-color: #d1d0d0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Deliveroo-background.jpeg);
    background-size: cover;
    background-position: center;
  }

  .cancel-container {
    max-width: 1000px;
    background-color: #ffebf5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 2000px;
  }

  h1 {
    text-align: center;
    color: rgb(255, 4, 121);
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  label {
    font-weight: bold;
  }

  input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }

  .form-actions {
    display: flex;
    justify-content: center;
  }

  .cancel-btn {
    background-color: rgb(255, 4, 121);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }

  .cancel-btn:hover {
    background-color: rgb(194, 0, 65);
    transition: 0.5s;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 400px;
  }

  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .modal-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .confirm-btn {
    background-color: #32cd32;
    color: white;
  }

  .confirm-btn:hover {
    background-color: #228b22;
  }

  .decline-btn {
    background-color: #ff6347;
    color: white;
  }

  .decline-btn:hover {
    background-color: #ff4500;
  }